<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Les grands vins de France</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/rht4bfa.css">
</head>
<body>
  <div id="parallax-background">
  <header>
    <img id="logo" src="../src/data/img/logo.svg" alt="Logo grand vin de france">
    <button id="buttonG" onclick="window.location.href='gestion.html'">Gestion</button>
  </header>
  <main>
  
    <h1>Découvrez les plus belles cuvées de France</h1>
    <img id="sliderB" src="../src/data/img/slide.svg" alt="notre boutique slider">
  </div>
    <section id="products">
      <h2>La sélection du moment</h2>
      <div id="product-list"></div>
    </section>
  </main>
  <footer>
    <p>© Copyright 2025, Projet Techno Web II - HEH - Emilien Doumont</p>
  </footer>
  <script>
    async function loadData() {
      const response = await fetch('../src/data/data.json'); 
      const data = await response.json();
      return data;
    }

    function displayProducts(products) {
      const productList = document.getElementById('product-list');
      products.forEach(product => {
        const productCard = document.createElement('div');
        productCard.classList.add('card');
        productCard.innerHTML = `
          <img src="../src/data/img/vin${product.img}.png" alt="Bouteille de vin">
          <div>
            <h3>${product.domaine} - ${product.cuvee} ${product.millesime}</h3>
            <div class="cepage">
              <img class="imgWine" src="../src/data/img/wine.svg" alt="icone grappe de raison">
              <p>${product.cepage}</p>
            </div>
            <div class="region">
              <img class="imgCup" src="../src/data/img/cup.svg" alt="icone cup">
              <p>${product.vignoble}</p>
            </div>
            <div class="price">
              <p class="prix">${product.price} €</p>
              <button class="buttonPrice" onclick="buyProduct(${product.id})">Acheter</button>
            </div>

          </div>
        `;
        productList.appendChild(productCard);
      });
    }

    function buyProduct(productId) {
      alert(`Produit avec ID ${productId} acheté!`);
    }

    window.onload = async () => {
      const data = await loadData();
      displayProducts(data.products);
    };
  </script>
</body>
</html>
